In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final.csv')

In [3]:
test = df.copy()

In [16]:
test

,Unnamed: 0,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000,252.43,...,8.35,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75
1,1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600,247.15,...,7.13,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36
2,2,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000,219.03,...,7.74,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56
3,3,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100,316.29,...,7.19,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17
4,4,2011,7,Arghakhanchi,medium,2.0,0.0,27.739400,83.575400,443.70,...,5.53,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,253,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,...,11.16,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05
254,254,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,...,11.16,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05
255,255,2018,9,Nuwakot,unknown,0.0,0.0,27.962161,83.052408,2.16,...,6.45,20.04,2.04,4.14,0.49,3.65,2.26,3.83,0.73,3.10
256,256,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804,2.68,...,6.30,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09
257,257,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872,2.68,...,6.30,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09

In [17]:
test['output'] = [1 for i in range(258)]

In [61]:
test.drop(['Unnamed: 0'], axis=1, inplace=True)

In [62]:
test

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000,252.43,84.19,...,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75,1
1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600,247.15,77.79,...,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36,1
2,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000,219.03,83.39,...,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56,1
3,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100,316.29,85.40,...,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17,1
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.739400,83.575400,443.70,92.52,...,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05,1
254,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05,1
255,2018,9,Nuwakot,unknown,0.0,0.0,27.962161,83.052408,2.16,83.88,...,20.04,2.04,4.14,0.49,3.65,2.26,3.83,0.73,3.10,1
256,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804,2.68,77.68,...,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09,1
257,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872,2.68,77.68,...,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09,1

In [107]:
climate = pd.read_csv('climate_data_nepal_district_wise_monthly.csv')

In [108]:
import random
rand = []
for i in range(258):
    rand.append(random.randint(1000, 29013))

In [109]:
climate['index'] = climate.index

In [82]:
climate

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,index
0,1981-01-31,1981,1,Arghakhanchi,27.9,83.2,67.31,93.78,5.28,53.09,...,11.19,2.01,3.39,0.81,2.59,2.70,4.22,1.06,3.16,0
1,1981-02-28,1981,2,Arghakhanchi,27.9,83.2,3.37,93.52,5.13,40.88,...,15.10,2.58,4.88,0.95,3.94,3.51,5.62,1.09,4.53,1
2,1981-03-31,1981,3,Arghakhanchi,27.9,83.2,26.02,93.40,5.91,35.84,...,20.58,2.73,4.67,1.02,3.65,3.73,5.72,1.38,4.34,2
3,1981-04-30,1981,4,Arghakhanchi,27.9,83.2,46.15,93.03,6.52,29.81,...,25.63,2.89,4.78,1.07,3.72,3.82,5.66,1.35,4.31,3
4,1981-05-31,1981,5,Arghakhanchi,27.9,83.2,69.45,92.75,9.95,37.25,...,29.99,2.69,4.40,0.93,3.47,3.52,5.29,1.30,4.00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29011,2019-08-31,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,29011
29012,2019-09-30,2019,9,Udayapur,26.9,86.5,9.93,94.92,18.62,87.16,...,25.25,2.40,3.86,1.17,2.68,3.40,4.70,2.05,2.65,29012
29013,2019-10-31,2019,10,Udayapur,26.9,86.5,0.28,95.34,15.04,84.67,...,22.08,1.79,3.21,0.62,2.59,2.48,3.73,0.97,2.76,29013
29014,2019-11-30,2019,11,Udayapur,26.9,86.5,0.04,95.48,11.26,73.08,...,18.75,1.56,2.92,0.46,2.47,2.09,3.29,0.67,2.62,29014
29015,2019-12-31,2019,12,Udayapur,26.9,86.5,0.35,95.74,6.57,61.07,...,12.57,1.79,3.25,0.66,2.60,2.47,3.93,0.83,3.09,29015

In [42]:
climate[climate['index'].isin(rand)]

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,index
index,,,,,,,,,,,,,,,,,,,,,
58,1985-11-30,1985,11,Arghakhanchi,27.9,83.2,0.00,93.59,7.87,60.15,...,15.21,1.94,3.31,0.73,2.58,2.61,3.91,0.78,3.13,58
174,1995-07-31,1995,7,Arghakhanchi,27.9,83.2,198.24,92.39,18.07,73.14,...,28.14,2.77,4.52,1.26,3.26,3.82,5.26,2.24,3.02,174
208,1998-05-31,1998,5,Arghakhanchi,27.9,83.2,16.01,92.80,8.32,28.25,...,32.50,2.95,4.77,1.04,3.72,3.73,5.68,1.48,4.20,208
233,2000-06-30,2000,6,Arghakhanchi,27.9,83.2,159.28,92.46,15.82,61.32,...,29.40,3.09,5.09,1.24,3.85,4.00,5.81,1.94,3.87,233
281,2004-06-30,2004,6,Arghakhanchi,27.9,83.2,312.31,92.52,15.76,63.13,...,28.23,3.33,5.29,1.54,3.75,4.62,6.46,2.43,4.03,281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28497,2015-10-31,2015,10,Terhathum,27.1,87.5,24.86,80.35,10.67,80.93,...,14.28,1.67,3.75,0.28,3.47,1.72,3.26,0.38,2.87,28497
28560,1982-01-31,1982,1,Udayapur,26.9,86.5,27.62,95.62,4.90,41.02,...,14.32,2.10,4.14,0.72,3.42,2.78,4.58,0.83,3.75,28560
28754,1998-03-31,1998,3,Udayapur,26.9,86.5,17.95,95.24,4.78,29.01,...,21.31,3.29,6.05,1.09,4.97,4.33,6.74,1.53,5.22,28754
28781,2000-06-30,2000,6,Udayapur,26.9,86.5,137.51,94.30,17.11,65.54,...,30.18,3.05,4.92,1.28,3.64,3.82,5.46,2.02,3.43,28781
28972,2016-05-31,2016,5,Udayapur,26.9,86.5,172.07,94.62,13.02,49.72,...,29.83,2.48,4.27,0.86,3.41,3.24,5.12,1.28,3.84,28972

In [110]:
climate = climate[climate['index'].isin(rand)]

In [84]:
climate

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,index
1043,1989-12-31,1989,12,Baitadi,29.5,80.5,4.69,74.05,2.05,34.48,...,0.34,1.89,4.28,0.35,3.93,1.85,3.60,0.40,3.20,1043
1092,1994-01-31,1994,1,Baitadi,29.5,80.5,13.26,73.87,2.48,42.45,...,0.35,1.99,4.61,0.42,4.20,2.01,4.18,0.50,3.68,1092
1274,2009-03-31,2009,3,Baitadi,29.5,80.5,2.63,73.91,3.25,38.17,...,6.82,2.44,5.14,0.44,4.70,2.45,4.63,0.51,4.12,1274
1275,2009-04-30,2009,4,Baitadi,29.5,80.5,5.05,73.89,3.77,31.64,...,12.83,2.78,5.97,0.43,5.54,2.77,5.43,0.52,4.91,1275
1294,2010-11-30,2010,11,Baitadi,29.5,80.5,31.64,74.07,5.07,61.62,...,3.96,1.86,3.55,0.43,3.12,1.88,3.10,0.53,2.58,1294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28500,2016-01-31,2016,1,Terhathum,27.1,87.5,6.69,80.17,4.15,57.71,...,3.62,1.76,4.32,0.35,3.97,1.81,3.77,0.45,3.32,28500
28507,2016-08-31,2016,8,Terhathum,27.1,87.5,152.16,79.77,15.70,90.32,...,19.35,2.21,4.45,0.41,4.03,2.37,4.17,0.58,3.60,28507
28511,2016-12-31,2016,12,Terhathum,27.1,87.5,0.11,80.30,6.08,64.45,...,7.12,1.52,3.45,0.30,3.16,1.55,2.98,0.35,2.63,28511
28781,2000-06-30,2000,6,Udayapur,26.9,86.5,137.51,94.30,17.11,65.54,...,30.18,3.05,4.92,1.28,3.64,3.82,5.46,2.02,3.43,28781
28957,2015-02-28,2015,2,Udayapur,26.9,86.5,3.39,95.47,5.76,39.51,...,18.23,2.70,4.98,0.92,4.07,3.66,5.63,1.22,4.41,28957

In [111]:
climate.reset_index(drop=True)

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,index
0,1997-04-30,1997,4,Baitadi,29.5,80.5,45.04,73.91,4.82,49.94,...,9.85,2.45,5.19,0.44,4.75,2.40,4.61,0.50,4.11,1131
1,2000-10-31,2000,10,Baitadi,29.5,80.5,0.02,74.01,5.29,48.03,...,9.29,2.17,4.69,0.32,4.37,2.07,3.90,0.37,3.53,1173
2,2003-11-30,2003,11,Baitadi,29.5,80.5,0.81,74.11,3.40,41.89,...,3.73,1.86,4.08,0.35,3.73,1.84,3.49,0.41,3.09,1210
3,2009-12-31,2009,12,Baitadi,29.5,80.5,1.62,73.95,2.84,44.55,...,-0.01,1.76,3.85,0.41,3.44,1.76,3.32,0.48,2.84,1283
4,1981-12-31,1981,12,Bajang,29.6,81.2,7.64,67.98,1.77,40.92,...,-6.18,2.23,4.54,0.52,4.02,2.23,4.09,0.60,3.50,1415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2017-11-30,2017,11,Terhathum,27.1,87.5,1.37,80.29,7.87,75.20,...,9.80,1.62,3.74,0.28,3.46,1.64,3.22,0.34,2.88,28522
253,1983-01-31,1983,1,Udayapur,26.9,86.5,0.15,95.70,3.35,31.58,...,12.52,2.28,4.03,0.85,3.18,2.89,4.28,1.05,3.22,28572
254,1991-10-31,1991,10,Udayapur,26.9,86.5,1.15,95.14,12.08,63.81,...,22.65,1.58,2.81,0.42,2.39,2.03,3.30,0.58,2.72,28677
255,2006-09-30,2006,9,Udayapur,26.9,86.5,328.17,94.84,17.63,83.90,...,25.20,2.54,4.07,1.24,2.83,3.56,4.88,2.08,2.80,28856
256,2013-12-31,2013,12,Udayapur,26.9,86.5,0.22,95.50,7.13,61.65,...,13.89,1.78,3.51,0.50,3.01,2.39,4.03,0.62,3.41,28943

In [112]:
climate.drop(['index'], axis=1, inplace=True)

In [114]:
climate.index = [i for i in range(257)]

In [115]:
climate.drop(['DATE'], axis=1, inplace = True)

In [116]:
climate

,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,T2M,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,1997,4,Baitadi,29.5,80.5,45.04,73.91,4.82,49.94,9.16,...,12.58,9.85,2.45,5.19,0.44,4.75,2.40,4.61,0.50,4.11
1,2000,10,Baitadi,29.5,80.5,0.02,74.01,5.29,48.03,10.68,...,12.53,9.29,2.17,4.69,0.32,4.37,2.07,3.90,0.37,3.53
2,2003,11,Baitadi,29.5,80.5,0.81,74.11,3.40,41.89,6.21,...,11.45,3.73,1.86,4.08,0.35,3.73,1.84,3.49,0.41,3.09
3,2009,12,Baitadi,29.5,80.5,1.62,73.95,2.84,44.55,2.82,...,11.06,-0.01,1.76,3.85,0.41,3.44,1.76,3.32,0.48,2.84
4,1981,12,Bajang,29.6,81.2,7.64,67.98,1.77,40.92,-3.47,...,13.55,-6.18,2.23,4.54,0.52,4.02,2.23,4.09,0.60,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2017,11,Terhathum,27.1,87.5,1.37,80.29,7.87,75.20,11.19,...,8.87,9.80,1.62,3.74,0.28,3.46,1.64,3.22,0.34,2.88
253,1983,1,Udayapur,26.9,86.5,0.15,95.70,3.35,31.58,14.37,...,12.62,12.52,2.28,4.03,0.85,3.18,2.89,4.28,1.05,3.22
254,1991,10,Udayapur,26.9,86.5,1.15,95.14,12.08,63.81,23.18,...,9.77,22.65,1.58,2.81,0.42,2.39,2.03,3.30,0.58,2.72
255,2006,9,Udayapur,26.9,86.5,328.17,94.84,17.63,83.90,25.03,...,6.10,25.20,2.54,4.07,1.24,2.83,3.56,4.88,2.08,2.80
256,2013,12,Udayapur,26.9,86.5,0.22,95.50,7.13,61.65,15.47,...,10.78,13.89,1.78,3.51,0.50,3.01,2.39,4.03,0.62,3.41

In [117]:
#check if false label generated has common data with true label
match = []
cm = climate['MONTH']
tm = climate['MONTH']
cp = climate["PRECTOT"]
tp = test["PRECTOT"]
for i in tp.index:
    for j in cp.index:
        if tp[i] == cp[j] and tm[i] == cm[j]:
            match.append(cp[j])

In [118]:
match

[]

In [119]:
climate

,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,T2M,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,1997,4,Baitadi,29.5,80.5,45.04,73.91,4.82,49.94,9.16,...,12.58,9.85,2.45,5.19,0.44,4.75,2.40,4.61,0.50,4.11
1,2000,10,Baitadi,29.5,80.5,0.02,74.01,5.29,48.03,10.68,...,12.53,9.29,2.17,4.69,0.32,4.37,2.07,3.90,0.37,3.53
2,2003,11,Baitadi,29.5,80.5,0.81,74.11,3.40,41.89,6.21,...,11.45,3.73,1.86,4.08,0.35,3.73,1.84,3.49,0.41,3.09
3,2009,12,Baitadi,29.5,80.5,1.62,73.95,2.84,44.55,2.82,...,11.06,-0.01,1.76,3.85,0.41,3.44,1.76,3.32,0.48,2.84
4,1981,12,Bajang,29.6,81.2,7.64,67.98,1.77,40.92,-3.47,...,13.55,-6.18,2.23,4.54,0.52,4.02,2.23,4.09,0.60,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2017,11,Terhathum,27.1,87.5,1.37,80.29,7.87,75.20,11.19,...,8.87,9.80,1.62,3.74,0.28,3.46,1.64,3.22,0.34,2.88
253,1983,1,Udayapur,26.9,86.5,0.15,95.70,3.35,31.58,14.37,...,12.62,12.52,2.28,4.03,0.85,3.18,2.89,4.28,1.05,3.22
254,1991,10,Udayapur,26.9,86.5,1.15,95.14,12.08,63.81,23.18,...,9.77,22.65,1.58,2.81,0.42,2.39,2.03,3.30,0.58,2.72
255,2006,9,Udayapur,26.9,86.5,328.17,94.84,17.63,83.90,25.03,...,6.10,25.20,2.54,4.07,1.24,2.83,3.56,4.88,2.08,2.80
256,2013,12,Udayapur,26.9,86.5,0.22,95.50,7.13,61.65,15.47,...,10.78,13.89,1.78,3.51,0.50,3.01,2.39,4.03,0.62,3.41

In [120]:
climate['output'] = [0 for i in range(257)]

In [97]:
climate

,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,T2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,1989,12,Baitadi,29.5,80.5,4.69,74.05,2.05,34.48,2.63,...,0.34,1.89,4.28,0.35,3.93,1.85,3.60,0.40,3.20,0
1,1994,1,Baitadi,29.5,80.5,13.26,73.87,2.48,42.45,2.03,...,0.35,1.99,4.61,0.42,4.20,2.01,4.18,0.50,3.68,0
2,2009,3,Baitadi,29.5,80.5,2.63,73.91,3.25,38.17,7.09,...,6.82,2.44,5.14,0.44,4.70,2.45,4.63,0.51,4.12,0
3,2009,4,Baitadi,29.5,80.5,5.05,73.89,3.77,31.64,12.41,...,12.83,2.78,5.97,0.43,5.54,2.77,5.43,0.52,4.91,0
4,2010,11,Baitadi,29.5,80.5,31.64,74.07,5.07,61.62,6.48,...,3.96,1.86,3.55,0.43,3.12,1.88,3.10,0.53,2.58,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,2016,1,Terhathum,27.1,87.5,6.69,80.17,4.15,57.71,5.86,...,3.62,1.76,4.32,0.35,3.97,1.81,3.77,0.45,3.32,0
252,2016,8,Terhathum,27.1,87.5,152.16,79.77,15.70,90.32,19.07,...,19.35,2.21,4.45,0.41,4.03,2.37,4.17,0.58,3.60,0
253,2016,12,Terhathum,27.1,87.5,0.11,80.30,6.08,64.45,9.81,...,7.12,1.52,3.45,0.30,3.16,1.55,2.98,0.35,2.63,0
254,2000,6,Udayapur,26.9,86.5,137.51,94.30,17.11,65.54,28.78,...,30.18,3.05,4.92,1.28,3.64,3.82,5.46,2.02,3.43,0
255,2015,2,Udayapur,26.9,86.5,3.39,95.47,5.76,39.51,19.04,...,18.23,2.70,4.98,0.92,4.07,3.66,5.63,1.22,4.41,0

In [122]:
climate['landslide_size'] = ['no' for i in range(257)]
climate['fatality_count'] = [0 for i in range(257)]
climate['injury_count'] = [0 for i in range(257)]

In [123]:
climate

,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,T2M,...,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output,landslide_size,fatality_count,injury_count
0,1997,4,Baitadi,29.5,80.5,45.04,73.91,4.82,49.94,9.16,...,0.44,4.75,2.40,4.61,0.50,4.11,0,no,0,0
1,2000,10,Baitadi,29.5,80.5,0.02,74.01,5.29,48.03,10.68,...,0.32,4.37,2.07,3.90,0.37,3.53,0,no,0,0
2,2003,11,Baitadi,29.5,80.5,0.81,74.11,3.40,41.89,6.21,...,0.35,3.73,1.84,3.49,0.41,3.09,0,no,0,0
3,2009,12,Baitadi,29.5,80.5,1.62,73.95,2.84,44.55,2.82,...,0.41,3.44,1.76,3.32,0.48,2.84,0,no,0,0
4,1981,12,Bajang,29.6,81.2,7.64,67.98,1.77,40.92,-3.47,...,0.52,4.02,2.23,4.09,0.60,3.50,0,no,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2017,11,Terhathum,27.1,87.5,1.37,80.29,7.87,75.20,11.19,...,0.28,3.46,1.64,3.22,0.34,2.88,0,no,0,0
253,1983,1,Udayapur,26.9,86.5,0.15,95.70,3.35,31.58,14.37,...,0.85,3.18,2.89,4.28,1.05,3.22,0,no,0,0
254,1991,10,Udayapur,26.9,86.5,1.15,95.14,12.08,63.81,23.18,...,0.42,2.39,2.03,3.30,0.58,2.72,0,no,0,0
255,2006,9,Udayapur,26.9,86.5,328.17,94.84,17.63,83.90,25.03,...,1.24,2.83,3.56,4.88,2.08,2.80,0,no,0,0
256,2013,12,Udayapur,26.9,86.5,0.22,95.50,7.13,61.65,15.47,...,0.50,3.01,2.39,4.03,0.62,3.41,0,no,0,0

In [124]:
climate = climate.reindex(columns=['YEAR', 'MONTH', 'DISTRICT', 'landslide_size', 'fatality_count',
       'injury_count', 'LAT', 'LON', 'PRECTOT', 'PS', 'QV2M',
       'RH2M', 'T2M', 'T2MWET', 'T2M_MAX', 'T2M_MIN', 'T2M_RANGE', 'TS',
       'WS10M', 'WS10M_MAX', 'WS10M_MIN', 'WS10M_RANGE', 'WS50M', 'WS50M_MAX',
       'WS50M_MIN', 'WS50M_RANGE', 'output'])

In [127]:
climate.rename(columns={'LAT': 'latitude', 'LON': 'longitude'}, inplace=True)

In [128]:
climate

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,1997,4,Baitadi,no,0,0,29.5,80.5,45.04,73.91,...,9.85,2.45,5.19,0.44,4.75,2.40,4.61,0.50,4.11,0
1,2000,10,Baitadi,no,0,0,29.5,80.5,0.02,74.01,...,9.29,2.17,4.69,0.32,4.37,2.07,3.90,0.37,3.53,0
2,2003,11,Baitadi,no,0,0,29.5,80.5,0.81,74.11,...,3.73,1.86,4.08,0.35,3.73,1.84,3.49,0.41,3.09,0
3,2009,12,Baitadi,no,0,0,29.5,80.5,1.62,73.95,...,-0.01,1.76,3.85,0.41,3.44,1.76,3.32,0.48,2.84,0
4,1981,12,Bajang,no,0,0,29.6,81.2,7.64,67.98,...,-6.18,2.23,4.54,0.52,4.02,2.23,4.09,0.60,3.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2017,11,Terhathum,no,0,0,27.1,87.5,1.37,80.29,...,9.80,1.62,3.74,0.28,3.46,1.64,3.22,0.34,2.88,0
253,1983,1,Udayapur,no,0,0,26.9,86.5,0.15,95.70,...,12.52,2.28,4.03,0.85,3.18,2.89,4.28,1.05,3.22,0
254,1991,10,Udayapur,no,0,0,26.9,86.5,1.15,95.14,...,22.65,1.58,2.81,0.42,2.39,2.03,3.30,0.58,2.72,0
255,2006,9,Udayapur,no,0,0,26.9,86.5,328.17,94.84,...,25.20,2.54,4.07,1.24,2.83,3.56,4.88,2.08,2.80,0
256,2013,12,Udayapur,no,0,0,26.9,86.5,0.22,95.50,...,13.89,1.78,3.51,0.50,3.01,2.39,4.03,0.62,3.41,0

In [129]:
test

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000,252.43,84.19,...,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75,1
1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600,247.15,77.79,...,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36,1
2,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000,219.03,83.39,...,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56,1
3,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100,316.29,85.40,...,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17,1
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.739400,83.575400,443.70,92.52,...,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05,1
254,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05,1
255,2018,9,Nuwakot,unknown,0.0,0.0,27.962161,83.052408,2.16,83.88,...,20.04,2.04,4.14,0.49,3.65,2.26,3.83,0.73,3.10,1
256,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804,2.68,77.68,...,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09,1
257,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872,2.68,77.68,...,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09,1

In [132]:
new = test.append(climate)

In [133]:
new

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2009,7,Dailekh,medium,1.0,0.0,28.8378,81.7080,252.43,84.19,...,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75,1
1,2009,7,Kaski,medium,3.0,0.0,28.2039,83.9806,247.15,77.79,...,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36,1
2,2009,7,Kathmandu,large,13.0,0.0,28.0000,85.7100,219.03,83.39,...,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56,1
3,2009,7,Syangja,medium,5.0,0.0,28.1046,83.8791,316.29,85.40,...,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17,1
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.7394,83.5754,443.70,92.52,...,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2017,11,Terhathum,no,0.0,0.0,27.1000,87.5000,1.37,80.29,...,9.80,1.62,3.74,0.28,3.46,1.64,3.22,0.34,2.88,0
253,1983,1,Udayapur,no,0.0,0.0,26.9000,86.5000,0.15,95.70,...,12.52,2.28,4.03,0.85,3.18,2.89,4.28,1.05,3.22,0
254,1991,10,Udayapur,no,0.0,0.0,26.9000,86.5000,1.15,95.14,...,22.65,1.58,2.81,0.42,2.39,2.03,3.30,0.58,2.72,0
255,2006,9,Udayapur,no,0.0,0.0,26.9000,86.5000,328.17,94.84,...,25.20,2.54,4.07,1.24,2.83,3.56,4.88,2.08,2.80,0
256,2013,12,Udayapur,no,0.0,0.0,26.9000,86.5000,0.22,95.50,...,13.89,1.78,3.51,0.50,3.01,2.39,4.03,0.62,3.41,0

In [136]:
new.reset_index(drop=True)

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2009,7,Dailekh,medium,1.0,0.0,28.8378,81.7080,252.43,84.19,...,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75,1
1,2009,7,Kaski,medium,3.0,0.0,28.2039,83.9806,247.15,77.79,...,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36,1
2,2009,7,Kathmandu,large,13.0,0.0,28.0000,85.7100,219.03,83.39,...,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56,1
3,2009,7,Syangja,medium,5.0,0.0,28.1046,83.8791,316.29,85.40,...,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17,1
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.7394,83.5754,443.70,92.52,...,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,2017,11,Terhathum,no,0.0,0.0,27.1000,87.5000,1.37,80.29,...,9.80,1.62,3.74,0.28,3.46,1.64,3.22,0.34,2.88,0
511,1983,1,Udayapur,no,0.0,0.0,26.9000,86.5000,0.15,95.70,...,12.52,2.28,4.03,0.85,3.18,2.89,4.28,1.05,3.22,0
512,1991,10,Udayapur,no,0.0,0.0,26.9000,86.5000,1.15,95.14,...,22.65,1.58,2.81,0.42,2.39,2.03,3.30,0.58,2.72,0
513,2006,9,Udayapur,no,0.0,0.0,26.9000,86.5000,328.17,94.84,...,25.20,2.54,4.07,1.24,2.83,3.56,4.88,2.08,2.80,0
514,2013,12,Udayapur,no,0.0,0.0,26.9000,86.5000,0.22,95.50,...,13.89,1.78,3.51,0.50,3.01,2.39,4.03,0.62,3.41,0

In [137]:
new = new.sample(frac=1).reset_index(drop=True)

In [138]:
new

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2013,7,Syangja,medium,1.0,0.0,27.914200,83.787600,413.84,85.41,...,22.44,2.11,4.06,0.46,3.61,2.36,3.84,0.74,3.10,1
1,2017,6,Kaski,medium,0.0,1.0,28.281201,83.864415,220.45,77.91,...,19.22,2.25,4.49,0.41,4.08,2.21,3.79,0.55,3.25,1
2,2004,6,Salyan,no,0.0,0.0,28.400000,82.100000,214.13,88.50,...,26.71,3.05,5.41,1.06,4.36,3.95,5.92,1.67,4.25,0
3,2015,8,Kathmandu,medium,1.0,0.0,28.029700,85.093400,388.41,83.61,...,21.23,2.25,4.48,0.58,3.90,2.49,4.31,0.88,3.43,1
4,2017,3,Baglung,large,1.0,0.0,28.308297,83.174393,66.43,79.29,...,9.36,2.37,4.95,0.47,4.48,2.41,4.48,0.52,3.96,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,2018,7,Bardiya,no,0.0,0.0,28.450000,81.300000,18.58,93.90,...,28.46,2.35,4.12,0.83,3.28,3.29,5.02,1.39,3.64,0
511,2013,7,Solukhumbu,medium,0.0,0.0,27.500100,86.866900,119.03,56.27,...,9.49,2.64,4.86,0.64,4.21,2.66,4.59,0.81,3.78,1
512,1990,4,Dhanusa,no,0.0,0.0,26.700000,85.900000,4.08,97.58,...,30.42,3.43,5.92,1.30,4.62,4.96,7.50,1.85,5.65,0
513,2007,8,Gulmi,medium,3.0,0.0,28.087700,83.097100,353.59,79.79,...,19.02,2.23,4.41,0.59,3.82,2.48,4.10,0.91,3.20,1
514,2009,8,Dadeldhura,medium,1.0,0.0,29.191700,80.870800,298.93,85.23,...,23.01,1.77,3.50,0.35,3.14,2.12,3.59,0.56,3.02,1

In [139]:
new.to_csv('landslide_nepal.csv')